<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="#">Go green!</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0"
              ng-submit="searchById ? fetchById() : fetch()">
            <input class="form-control mr-sm-2" type="text" placeholder="Search by ID" aria-label="Search by ID"
                   ng-model="searchById">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<main role="main" class="container">
    <div class="pt-5 row">
        <div class="col-md-12">
            <h1>Your vegetables</h1>
            <p>
                <button type="button" class="btn btn-primary"
                        ng-click="add()">Add a vegetable</button>
            </p>
            <p ng-if="!vegetables || vegetables.length === 0" class="lead">No vegetable found.</p>
            <div class="row" ng-if="vegetables && vegetables.length > 0">
                <div ng-repeat="vegetable in vegetables track by vegetable.id" class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <svg class="bd-placeholder-img" width="100%" height="170" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="35%" y="50%" fill="#dee2e6" dy=".3em">Image</text></svg>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">{{ vegetable.name }}</h5>
                                    <p class="card-text">${{ vegetable.price }}</p>
                                    <a href="" class="card-link" role="button"
                                       ng-click="update(vegetable)">Update</a>
                                    <a href="" class="card-link" role="button"
                                       ng-click="delete(vegetable)">Delete</a>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
